server:
  port: 8882
spring:
  application:
    name: config_server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Harishthappa60/server-config.git
          clone-on-start: true
          default-label: main

eureka:
  client:
    service-uri:
      defaultZone: http://localhost:8881/eureka

management:
  endpoints:
    web:
      exposure:
       include: health,info